aws {
    accessKey = 'AKIAI4KC3MW5SDO4MJ3A'
    secretKey = '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'
    region = 'eu-central-1' // eu-west-1/EU (Ireland), eu-central-1/EU (Frankfurt), eu-west-2/EU (London) only eu-west-1 has the preconfigured nextflow AMI

    client {
        maxConnections = 20
        connectionTimeout = 10000
    }
}

cloud {
    imageId = 'ami-2a0ec645'
    instanceType = 't2.micro'
	keyFile = '/home/mattausch/.ssh/id_aws.pub'
    autoscale{
        terminateWhenIdle = true
        idleTimeout = 30000
        maxInstances = 5
    }
}
